
* {
  margin: 0;
  padding: 0;
} 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

header {
  padding: 5px;
  width: 100%;
  /* position: relative; */
  top: 0px;
  background-color: lightseagreen;
  align-items: center center;

}
header #navigation{
  padding: 8px 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  float: right;
  color: white;
}
header h2{
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-style: bold;
  color: white;
}

.allButFooter  {
  min-height: calc(100vh - 30px);
  padding-bottom: 40px;
}

footer {
  clear: both;
  position: relative;
  padding: 5px;
  width: 100%;
  height: 30px;
  margin-top: -30px;
  text-align: center;
  background-color: lightgray;
  align-items: center center;
}

.about{
  width: 100%;
  align-content: center center;
}

.about h3{  
  margin: 10px 10px 10px 10px;
  text-align: center;
}


.about #logo{
  width: 100%;
  max-height: 1000px;
  min-height: 100%;
}



.navigation{
  background-color: white;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 50;
  width: 65%;
  height: 100%;
  color: black;
  padding-top: 0;
}

.navigation .navbutton-first{
  display: block;
  text-decoration: none;
  color: black;
  background-color: lightgreen;
  border-bottom:  1px solid lightgreen;  
  padding-bottom: 5px;
  text-align: center;
  padding: 50px;


}

.navigation .navbutton-first h4{
  font-style: bold;
}
.navigation .navbutton{
  padding-top: 3px;
  display: block;
  text-decoration: none;
  color: darkgreen;
  border-bottom:  1px solid lightgreen;  
  padding-bottom: 10px;
  text-align: center;

}

.navigation li{
  list-style: none;
}

.navmask{
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
  z-index: 50;
  opacity: 0.5;
  height: 100%;
  width: 100%;

}

.home {
  align-content: center;
  text-align: center;
}

 .content{
  background-color: lightgreen;
  min-height: 500px;
}


.home li{
  background: #6d3d6d;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
